<h1><span data-i18n="skills.my_skills">publications</span></h1>

{% for project in site.data.index.projects %}
    <div class="row">
            <div class="col">
                <h2 style="margin: 0">{{ publications.name }}</h2>
                <p style="margin: 0">{{ publications.descr }}</p>

                {% if publications.github %}
                <a href="{{ publications.github }} "><i class="fa fa-fw fa-github"></i>GitHub</a>
                {% endif %}
                {% if publications.website %}
                <a href="{{ publications.website }} "><i class="fa fa-fw fa-home"></i>Homepage</a>
                {% endif %}

            </div>
    </div>
{% endfor %}
